﻿@using KnjizaraRepo.Models
@model Genre
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/validacija.js"></script>
<hr />
<h1>Genre:</h1>
<hr />
<form method="post" action="/Genre/Create" onsubmit="return posalji(this)">
    <table>
        <tr><th colspan="2" class="tcenter">Add new genre</th></tr>
        <tr><th> Name of genre:</th><td><input type="text" name="Name" />
        <span id="nameSpan" style="color:red"></span></td></tr>
        <tr><th colspan="2" class="tright"><input type="submit" value="Add" /></th></tr>
    </table>
</form>
<a href="/Book/Index">Homepage</a>

