﻿@using KnjizaraRepo.Models
@model Genre
@{
    ViewBag.Title = "Edit";
}

<script src="~/Scripts/validacija.js"></script>
<hr />
<h1>Edit Genre:</h1>
<hr />
<form method="post" action="/Genre/Edit"  onsubmit="return posalji(this)">
    <table>
        <tr><th colspan="2" class="tcenter">Change name of genre</th></tr>
        <tr>
            <th> Name of genre:</th>
            <td>
                <input type="text" name="Name" value="@Model.Name" />
                <span id="nameSpan" style="color:red"></span>
                <input type="hidden" required name="Id" value="@Model.Id" />
            </td>
        </tr>
        <tr><th colspan="2" class="tright"><input type="submit" value="Submit" /></th></tr>
    </table>
</form>
<a href="/Book/Index">Homepage</a>

