﻿@using KnjizaraRepo.Models
@model IEnumerable<Genre>
@{
    ViewBag.Title = "Index";
}

<h1>List of genres:</h1>
<table>
    <tr><th>Id</th><th>Name</th></tr>
    @foreach (Genre g in Model)
    {
        if (!g.Deleted)
        {
            <tr>
                <td> @g.Id</td>
                <td> @g.Name</td>
                <td><a href="/Genre/Delete?id=@g.Id">delete </a></td>
                <td><a href="/Genre/Edit?id=@g.Id">edit </a></td>
            </tr>
        }

    }
</table>
<a href="/Genre/Create">Add genre</a> |
<a href="/Genre/Deleted">Show deleted genres</a><br />
<a href="/Book/Index">Homepage</a>
