﻿@using KnjizaraRepo.Models
@model IEnumerable<Genre>
@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/validacija1.js"></script>
<hr />
<h1>Books - Add book:</h1>
<hr />
<form method="post" action="/Book/Create" onsubmit="return posalji1(this)">
    <table>
        <tr><th colspan="2" class="tcenter">Add new book</th></tr>
        <tr><th> Name of book:</th><td><input type="text" name="NameOfBook" />
        <span id="nameSpan1" style="color:red"></span></td></tr>
        <tr><th> Price of book:</th><td><input type="text" name="PriceOfBook" />
        <span id="priceSpan1" style="color:red"></span></td></tr>
        <tr>
            <th align="left"> Genre of book:</th>
            <td>
                <select name="IdGenreOfBook">
                    @foreach (Genre item in Model)
                    {
                        if (!item.Deleted)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
                <a href="/Genre/Index">Genres</a>
            </td>
        </tr>
        <tr><th colspan="2" class="tright"><input type="submit" value="Add" /></th></tr>

    </table>
</form>
<a href="/Book/Index">Show all books </a> |
<a href="/Book/Deleted">Show deleted books</a>
