﻿@using KnjizaraRepo.Models
@model IEnumerable<Book>
@{
    ViewBag.Title = "Deleted";
}

<h1>List of deleted books :</h1>
<table>
    <tr><th>Id</th><th>Name</th><th>Price</th><th>Genre</th></tr>
    @foreach (Book b in Model)
    {
        if (b.Deleted)
        {
            <tr>
                <td> @b.Id</td>
                <td> @b.Name</td>
                <td> @b.Price</td>
                <td> @b.Bookgenre.Name</td>
            </tr>
        }
    }
</table>
<a href="/Book/Index">Homepage books</a>


