﻿@using KnjizaraRepo.Models
@using KnjizaraRepo.ViewModels
@model BookGenreViewModel
@{
    ViewBag.Title = "Edit";
}

<script src="~/Scripts/validacija2.js"></script>
<hr />
<h1>Book - Edit:</h1>
<hr />
<form method="post" action="/Book/Edit" onsubmit="return posalji2(this)">
    <table>
        <tr><th colspan="2" class="tcenter">Edit book</th></tr>
        <tr><th> Name of book:</th><td><input type="text" name="Book.Name" value="@Model.Book.Name" />
        <span id="nameSpan2" style="color:red"></span></td></tr>
        <tr>
            <th> Price of book:</th>
            <td><input type="text" name="Book.Price" value="@Model.Book.Price" />
            <span id="priceSpan2" style="color:red"></span></td>
            <td><input type="hidden" required name="Book.Id" value="@Model.Book.Id" /></td>
        </tr>
        <tr>
            <th> Genre of book:</th>
            <td>
                <select name="SelectedGenreId">
                    @foreach (Genre item in Model.Genres)
                    {

                        if (item.Id == Model.Book.Bookgenre.Id)
                        {
                            <option selected value="@item.Id">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr><th colspan="2" class="tright"><input type="submit" value="Save" /></th></tr>

    </table>
</form>
<a href="/Book/Index">Show all books </a>


