﻿@using KnjizaraRepo.Models
@model Bookstore
@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/validacija.js"></script>
<hr />
<h1>Create new bookstore:</h1>
<hr />
<form method="post" action="/Bookstore/Create" onsubmit="return posalji(this)">
    <table>
        <tr><th colspan="2" class="tcenter">Add new bookstore</th></tr>
        <tr>
            <th> Name of bookstore:</th>
            <td>
                <input type="text" name="Name" />
                <span id="nameSpan" style="color:red"></span>
            </td>
        </tr>

        <tr><th colspan="2" class="tright"><input type="submit" value="Add" /></th></tr>

    </table>
</form>
<a href="/Bookstore/Index">Show all bookstores </a>


