﻿@using KnjizaraRepo.Models
@model IEnumerable<Bookstore>

@{
    ViewBag.Title = "Index";
}

<h1>List of bookstories:</h1>
<table>
    <tr><th>Id</th><th>Name</th></tr>
    @foreach (var bs in Model)
    {
        <tr>
            <td> @bs.Id</td>
            <td> @bs.Name</td>
            <td> <a href="/Bookstore/books?id=@bs.Id">go to books </a></td>
        </tr>
    }
</table>
<a href="/Bookstore/Create">Add new bookstore</a>


